/*-- scss:defaults --*/
/*-- scss:rules --*/

.form-control {
  background-color: #8A8E75;
}
[data-bs-theme="light"] .form-control {
  background-color: #F1EAD8;
}

[data-bs-theme="dark"] .form-control {
  background-color: #BEC5A4;
}
